SUNAT_ENV=BETA
EMPRESA_RUC=
EMPRESA_RAZON_SOCIAL=
EMPRESA_DIRECCION=
EMPRESA_UBIGEO=
EMPRESA_DEPARTAMENTO=
EMPRESA_PROVINCIA=
EMPRESA_DISTRITO=
SUNAT_USUARIO=
SUNAT_CLAVE=
CERT_PATH="storage/certs/certificado_export.pfx"
CERT_PASS=
DB_HOST=127.0.0.1
DB_NAME=turucsac_db
DB_USER=root
DB_PASS=
SERIE_BOLETA=B001
SERIE_FACTURA=F001